{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The OKK's Sakila Database Console</title>
        <script src="{% static 'sakila_ok/js/jquery.min.js' %}"></script>
        <link href="{% static 'sakila_ok/yeti/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'sakila_ok/yeti/bootstrap.min.css' %}" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-database"></i> OKK's Sakila</a>
              </div>
              <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/customer/"><i class="fa fa-user"></i> Customers</a></li>
                  <li><a href="/film/"><i class="fa fa-film"></i> Films</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <form class="navbar-form navbar-left" action="/film/search/" method="GET">
                    <input type="text" class="form-control col-lg-8" placeholder="Search Films or ID" name="id">   
                    <input type="submit" class="form-control col-lg-4" value="Find">
                  </form>
                </ul>
              </div>
              </div>
            </div>

        <div class="container">
          {% block content %}{% endblock %}
        </div>
    </body>

    <div class="container">
      <footer style="right:0;left:0;bottom:0; position:fixed; margin-bottom:-22px;">
        <div class="navbar navbar-default">
          <div class="container">
            <div style="color:white; text-align:center;">
              <br/>
              All Rights Reserved <i class="fa fa-copyright"></i> 2014 Abdulla AlKhenji, Khaled Fares, Omar Ragheeb. <a class="btn btn-info  btn-sm" href="http://www.github.com/alkhenji/sakilaokk"><i class="fa fa-github"></i> Git it now!</a>
              <br/><br/>
            </div>
          </div>
        </div>
      </footer>
    </div>
</html>