{% extends "sakila_ok/base.html" %}
{% block content %}

  {% if c_all %}
    <div class="page-header">
      <h1><i class="fa fa-group"></i> All Customers</h1>
    </div>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>CustomerID</th>
            <th>StoreID</th>
            <th>Customer Name</th>
            <th>Customer Email</th>
          </tr>
        </thead>
        <tbody>
          {% for c in c_all %}
                {% if c.active %}
                  <tr>
                {% else %}
                  <tr class="danger">
                {% endif %}

                  <td><a href="/customer/{{c.customer_id}}" class="btn btn-default btn-xs btn-block"> Customer {{c.customer_id}}</a></td>
                  <td>{{c.store_id}}</td>
                  <td class="col-lg-8">{{c.first_name|title}} {{c.last_name|title}}</td>
                  <td class="col-lg-4">{{c.email|lower}}</td>
                </tr>
          {% endfor %}

        </tbody>
      </table> 
  {% else %}

    {% if alert %}
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{{ alert.0 }}</h4>
        <p> {{ alert }} </p>
      </div>
    {% endif %}
  
    <div class="page-header">
        <h1>[{{c.customer_id}}] {{c.first_name|title}} {{c.last_name|title}}</h1>
    </div>

    <div class="well well-lg">
      <h3>Rank: 
        {% ifequal cust_status 'Preferred' %}
          Preferred <i style="color:gold;" class="fa fa-star"></i>
        {% endifequal %}
        {% ifequal cust_status 'Regular' %}
          Regular <i style="color:#95989D;" class="fa fa-star"></i>
        {% endifequal %}
        {% ifequal cust_status 'Casual' %}
          Casual <i style="color:#B17843;" class="fa fa-star"></i>
        {% endifequal %}

      </h3>
      <h3>Active?
          {% ifequal c.active 1 %}
            <i class="fa fa-check" style="color:green;"></i>
          {% else %}
            <i class="fa fa-times" style="color:red;"></i>
          {% endifequal %}
      </h3>
      <h3>Balance Due: ${{ balance_due }}</h3>
      
    </div>

    <div class="row">
      <div class="container">

        <!-- <div class="col-md-12"> -->
          <!-- <a href="/customer/{{c.customer_id}}/cap/" class="btn btn-lg btn-info btn-block"><i class="fa fa-shopping-cart"></i> With payment</a> -->

          <form class="well well-lg" style="height:90px;">
            <div class="form-group col-md-3">
              <input class="form-control" type="text" name="film_id" placeholder="Scan Film ID to Checkout"/>
            </div>

            <div class="form-group has-success col-md-3">
              <input type="text" class="form-control" id="inputSuccess" placeholder="Enter SalespersonID"/>
            </div>

            <div class="col-md-4">
              <a class="btn btn-md btn-success"><i class="fa fa-shopping-cart"></i> With Payment</a>   
              <a class="btn btn-md btn-warning"><i class="fa fa-shopping-cart"></i> Without Payment</a>   
            </div>

            <div class="col-md-2">
              <a href="/customer/{{c.customer_id}}/pay" class="btn btn-md btn-info"><i class="fa fa-dollar"></i> Pay Balance Due</a>   
            </div>
          </form>

        <!-- <br/><br/><br/><br/> -->

      </div>
    </div>

    <div class="row">
      <div class="col-md-6">  
        
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-film"></i> Recent Rentals</h3>
          </div>
          <div class="panel-body">

          {% if last5 %}
            {% for id,film in last5 %}
              <a href="/film/{{id}}">
                <i class="fa fa-angle-double-right"></i> 
                {{ film|title }}<br/>
              </a>
            {% endfor %}

          {% else %}
            No Recent Films
          {% endif %}
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> Customer Information</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>

      </div>

      <div class="col-md-6">  
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> Customer Information</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="container">
                <strong>Customer ID: </strong>{{c.customer_id}}<br/>
                <strong>Store ID: </strong>{{c.store_id}}<br/>
                <strong>First Name: </strong>{{c.first_name|title}}<br/>
                <strong>Last Name: </strong>{{c.last_name|title}}<br/>
                <strong>Email Address: </strong>{{c.email|lower}}<br/>
                <strong>Active: </strong>
                  {% ifequal c.active 1 %}
                    <i class="fa fa-check" style="color:green;"></i>
                  {% else %}
                    <i class="fa fa-times" style="color:red;"></i>
                  {% endifequal %}<br/>
                <strong>Created on: </strong>{{c.create_date}}<br/>
                <strong>Last Modified: </strong>{{c.last_update}}<br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endif %}

    </tbody>
  </table> 

{% endblock %}